    = render partial: "chatside-group"

.chat-main
  .chat-main__header
    .chat-main__header-group.clearfix
      .chat-main__header-group-name
        = @group.name

      %a.chat-main__header-group-btn
        Edit

    .chat-main__header-member
      - @group.each do |member|
        = member


  .chat-main__body
    = render partial: "chatmain-messege"



  .chat-main__footer
    .chat-main__footer-form
      = form_for [@group, @message] do |f|
       = f.text_field :content, class: 'chat-main__footer-text', placeholder: 'type a message'
      = f.label :image, class: 'chat-main__footer-label', for: "upload-icon"
        = f.file_fild :image, class: 'chat-main__footer-faileinput', id: 'upload-icon'
        = fa_icon 'image'
      = f.submit 'Send', class: 'chat-main__footer-btn'




